In [37]:
import pandas as pd
import requests
from datetime import datetime, timedelta
import os
from sqlalchemy import create_engine, text

In [6]:
# Configuración
DATASET_ID = "ajtu-isnz"
BASE_URL = f"https://data.cityofchicago.org/resource/{DATASET_ID}.json"

def fetch_taxi_data(days_back=60):
    # Calculamos el filtro de fecha para el alcance recomendado [cite: 16]
    start_date = (datetime.now() - timedelta(days=days_back)).strftime('%Y-%m-%dT%H:%M:%S')

    # Parámetros SoQL: Filtramos por fecha y ordenamos para incrementalidad [cite: 25, 27]
    params = {
        "$where": f"trip_start_timestamp > '{start_date}'",
        "$limit": 5000, # Ajusta según volumen
        "$order": "trip_start_timestamp ASC"
    }

    response = requests.get(BASE_URL, params=params)

    if response.status_code == 200:
        data = response.json()
        return pd.DataFrame(data)
    else:
        print(f"Error: {response.status_code}")
        return None

# Ejecución
df_raw = fetch_taxi_data()
# Crear el directorio si no existe
os.makedirs("data/raw", exist_ok=True)

# Ahora el comando df_raw.to_json funcionará sin problemas
df_raw.to_json("data/raw/trips_raw.json", orient="records")
if df_raw is not None:
    # 2. Guardar Capa RAW [cite: 26]
    df_raw.to_json("data/raw/trips_raw.json", orient="records")
    print(f"Ingesta exitosa: {len(df_raw)} registros guardados.")

Ingesta exitosa: 5000 registros guardados.

In [9]:
# Leer el archivo JSON desde la capa RAW
df_raw = pd.read_json("data/raw/trips_raw.json")

# Visualizar las primeras filas para verificar los datos
df_raw.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,...,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,04607bee17c9515bdb737a9e6b6e731ac847decb,4d93ebac88329db326a9665ddc3864bbcc9b06f616e4ff...,2025-12-20T21:00:00.000,2025-12-20T21:15:00.000,561.0,1.66,8.0,8.0,7.75,0.00,...,Cash,Flash Cab,41.899602,-87.633308,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602,-87.633308,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
1,0537deb5f51b283ef365a4fe4f8e181c98bb61de,99918fcb93034770d03ad7c443a8fbaa28aba72ca8e713...,2025-12-20T21:00:00.000,2025-12-20T21:15:00.000,764.0,4.16,33.0,8.0,39.34,0.00,...,Mobile,Taxicab Insurance Agency Llc,41.857184,-87.620335,"{'type': 'Point', 'coordinates': [-87.62033462...",41.899602,-87.633308,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
2,0896b6e3a144c7bf992c45ac8783c239eec15cd4,7a6bcf293f04066d3587fcd6fe2d796bb3fe4ff200f047...,2025-12-20T21:00:00.000,2025-12-20T21:00:00.000,10.0,0.00,8.0,8.0,60.00,12.10,...,Credit Card,Taxicab Insurance Agency Llc,41.899602,-87.633308,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602,-87.633308,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
3,0959c8ced70e332c739bd62491a5922638019226,b9b265c465aa17bb92255f1185f46d9b65bd7b84798bd7...,2025-12-20T21:00:00.000,2025-12-20T21:00:00.000,555.0,2.05,8.0,32.0,8.50,1.23,...,Mobile,Flash Cab,41.899602,-87.633308,"{'type': 'Point', 'coordinates': [-87.63330803...",41.878866,-87.625192,"{'type': 'Point', 'coordinates': [-87.62519214...",NaN,NaN
4,09d0894d353dfa24c92c047a9184dab962e55379,6544c8051894de482dd3253d911c3e3d713b43beb93de2...,2025-12-20T21:00:00.000,2025-12-20T21:00:00.000,484.0,4.54,7.0,3.0,13.75,3.81,...,Credit Card,City Service,41.922686,-87.649489,"{'type': 'Point', 'coordinates': [-87.64948872...",41.965812,-87.655879,"{'type': 'Point', 'coordinates': [-87.65587878...",NaN,NaN

In [10]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     5000 non-null   object
 1   taxi_id                     5000 non-null   object
 2   trip_start_timestamp        5000 non-null   object
 3   trip_end_timestamp          5000 non-null   object
 4   trip_seconds                4999 non-null   float64
 5   trip_miles                  5000 non-null   float64
 6   pickup_community_area       4886 non-null   float64
 7   dropoff_community_area      4699 non-null   float64
 8   fare                        4998 non-null   float64
 9   tips                        4998 non-null   float64
 10  tolls                       4998 non-null   float64
 11  extras                      4998 non-null   float64
 12  trip_total                  4998 non-null   float64
 13  payment_type                5000 non-null   object
 14  company                     5000 non-null   object
 15  pickup_centroid_latitude    4886 non-null   float64
 16  pickup_centroid_longitude   4886 non-null   float64
 17  pickup_centroid_location    4886 non-null   object
 18  dropoff_centroid_latitude   4699 non-null   float64
 19  dropoff_centroid_longitude  4699 non-null   float64
 20  dropoff_centroid_location   4699 non-null   object
 21  pickup_census_tract         1180 non-null   float64
 22  dropoff_census_tract        1143 non-null   float64
dtypes: float64(15), object(8)
memory usage: 898.6+ KB

In [11]:
df_raw.isna().sum()

trip_id                          0
taxi_id                          0
trip_start_timestamp             0
trip_end_timestamp               0
trip_seconds                     1
trip_miles                       0
pickup_community_area          114
dropoff_community_area         301
fare                             2
tips                             2
tolls                            2
extras                           2
trip_total                       2
payment_type                     0
company                          0
pickup_centroid_latitude       114
pickup_centroid_longitude      114
pickup_centroid_location       114
dropoff_centroid_latitude      301
dropoff_centroid_longitude     301
dropoff_centroid_location      301
pickup_census_tract           3820
dropoff_census_tract          3857
dtype: int64

In [13]:
# Crea una copia para staging
df_staging = df_raw.copy()

# Identifica columnas que son diccionarios (comúnmente 'location')
cols_to_drop = ['location', 'pickup_centroid_location', 'dropoff_centroid_location']
df_staging = df_staging.drop(columns=[c for c in cols_to_drop if c in df_staging.columns])

# Ahora ya puedes contar duplicados sin error
print(f"Duplicados totales: {df_staging.duplicated().sum()}")

Duplicados totales: 0

In [17]:
# 1. Crear copia y eliminar columnas complejas (unhashable)
# Esto resuelve el error TypeError: unhashable type: 'dict'
df_staging = df_raw.copy()
complex_cols = ['location', 'pickup_centroid_location', 'dropoff_centroid_location']
df_staging = df_staging.drop(columns=[c for c in complex_cols if c in df_staging.columns])

# 2. Casteo de Datos (Requisito: Capa staging limpia/tipada) [cite: 26]
# Fechas
df_staging['trip_start_timestamp'] = pd.to_datetime(df_staging['trip_start_timestamp'])
df_staging['trip_end_timestamp'] = pd.to_datetime(df_staging['trip_end_timestamp'])

# Numéricos: Convertimos a float y manejamos errores con 'coerce' (se vuelven NaN) y luego 0
numeric_cols = ['fare', 'tips', 'tolls', 'extras', 'trip_total', 'trip_miles', 'trip_seconds']
for col in numeric_cols:
    df_staging[col] = pd.to_numeric(df_staging[col], errors='coerce').fillna(0)

# 3. Calidad de Datos (Data Quality MVP) [cite: 68, 69]
# Unicidad por trip_id [cite: 73]
df_staging = df_staging.drop_duplicates(subset=['trip_id'])

# Filtros lógicos (No negativos en montos/distancia) [cite: 72]
df_staging = df_staging[
    (df_staging['trip_total'] >= 0) &
    (df_staging['trip_miles'] >= 0) &
    (df_staging['trip_seconds'] >= 0)
]

# 4. Campos Derivados (Útiles para el modelo analítico) [cite: 38]
df_staging['hour'] = df_staging['trip_start_timestamp'].dt.hour
df_staging['day_of_week'] = df_staging['trip_start_timestamp'].dt.dayofweek
df_staging['is_weekend'] = df_staging['day_of_week'].isin([5, 6]).astype(int)

# Guardar localmente para evidencia de capa Staging
os.makedirs("data/staging", exist_ok=True)
df_staging.to_parquet("data/staging/trips_staging.parquet") # Parquet mantiene los tipos de datos

In [19]:
df_staging.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,...,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,pickup_census_tract,dropoff_census_tract,hour,day_of_week,is_weekend
0,04607bee17c9515bdb737a9e6b6e731ac847decb,4d93ebac88329db326a9665ddc3864bbcc9b06f616e4ff...,2025-12-20 21:00:00,2025-12-20 21:15:00,561.0,1.66,8.0,8.0,7.75,0.00,...,Flash Cab,41.899602,-87.633308,41.899602,-87.633308,NaN,NaN,21,5,1
1,0537deb5f51b283ef365a4fe4f8e181c98bb61de,99918fcb93034770d03ad7c443a8fbaa28aba72ca8e713...,2025-12-20 21:00:00,2025-12-20 21:15:00,764.0,4.16,33.0,8.0,39.34,0.00,...,Taxicab Insurance Agency Llc,41.857184,-87.620335,41.899602,-87.633308,NaN,NaN,21,5,1
2,0896b6e3a144c7bf992c45ac8783c239eec15cd4,7a6bcf293f04066d3587fcd6fe2d796bb3fe4ff200f047...,2025-12-20 21:00:00,2025-12-20 21:00:00,10.0,0.00,8.0,8.0,60.00,12.10,...,Taxicab Insurance Agency Llc,41.899602,-87.633308,41.899602,-87.633308,NaN,NaN,21,5,1
3,0959c8ced70e332c739bd62491a5922638019226,b9b265c465aa17bb92255f1185f46d9b65bd7b84798bd7...,2025-12-20 21:00:00,2025-12-20 21:00:00,555.0,2.05,8.0,32.0,8.50,1.23,...,Flash Cab,41.899602,-87.633308,41.878866,-87.625192,NaN,NaN,21,5,1
4,09d0894d353dfa24c92c047a9184dab962e55379,6544c8051894de482dd3253d911c3e3d713b43beb93de2...,2025-12-20 21:00:00,2025-12-20 21:00:00,484.0,4.54,7.0,3.0,13.75,3.81,...,City Service,41.922686,-87.649489,41.965812,-87.655879,NaN,NaN,21,5,1

In [21]:
# Salud financiera diaria por método de pago
resumen_financiero = df_staging.groupby([df_staging['trip_start_timestamp'].dt.date, 'payment_type']).agg(
    total_revenue=('trip_total', 'sum'),
    cantidad_viajes=('trip_id', 'count'),
    avg_ticket=('trip_total', 'mean')
).reset_index()

resumen_financiero.head()

,trip_start_timestamp,payment_type,total_revenue,cantidad_viajes,avg_ticket
0,2025-12-20,Cash,7334.08,353,20.776431
1,2025-12-20,Credit Card,23735.73,599,39.625593
2,2025-12-20,Mobile,11885.37,738,16.104837
3,2025-12-20,No Charge,137.25,7,19.607143
4,2025-12-20,Prcard,1849.82,71,26.053803

In [22]:
# Eficiencia por zona (Community Areas)
eficiencia_zonas = df_staging.groupby('pickup_community_area').agg(
    promedio_millas=('trip_miles', 'mean'),
    promedio_propinas=('tips', 'mean'),
    total_viajes=('trip_id', 'count')
).reset_index()

# Creamos un índice de "propina por milla"
eficiencia_zonas['propina_por_milla'] = eficiencia_zonas['promedio_propinas'] / eficiencia_zonas['promedio_millas']
eficiencia_zonas.sort_values(by='propina_por_milla').head() # Zonas menos eficientes

,pickup_community_area,promedio_millas,promedio_propinas,total_viajes,propina_por_milla
12,13.0,5.920000,0.0,2,0.0
8,9.0,7.165000,0.0,2,0.0
26,27.0,10.612857,0.0,7,0.0
28,29.0,6.080000,0.0,3,0.0
29,30.0,13.620000,0.0,3,0.0

In [24]:
df_staging.columns

Index(['trip_id', 'taxi_id', 'trip_start_timestamp', 'trip_end_timestamp',
       'trip_seconds', 'trip_miles', 'pickup_community_area',
       'dropoff_community_area', 'fare', 'tips', 'tolls', 'extras',
       'trip_total', 'payment_type', 'company', 'pickup_centroid_latitude',
       'pickup_centroid_longitude', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude', 'pickup_census_tract',
       'dropoff_census_tract', 'hour', 'day_of_week', 'is_weekend'],
      dtype='object')

In [26]:
# Generar el nombre del día a partir del timestamp
df_staging['day_name'] = df_staging['trip_start_timestamp'].dt.day_name()

# Verificar que ahora aparezca en tus columnas
print(df_staging[['trip_start_timestamp', 'day_of_week', 'day_name']].head())

# Estacionalidad (Demanda por hora y día)
estacionalidad = df_staging.groupby(['day_name', 'hour']).agg(
    demanda_viajes=('trip_id', 'count'),
    revenue_promedio=('trip_total', 'mean')
).reset_index()

# Ordenar para ver los picos de demanda
estacionalidad.sort_values(by='demanda_viajes', ascending=False).head()

  trip_start_timestamp  day_of_week  day_name
0  2025-12-20 21:00:00            5  Saturday
1  2025-12-20 21:00:00            5  Saturday
2  2025-12-20 21:00:00            5  Saturday
3  2025-12-20 21:00:00            5  Saturday
4  2025-12-20 21:00:00            5  Saturday

    day_name  hour  demanda_viajes  revenue_promedio
2   Saturday    23             758         26.356187
1   Saturday    22             528         24.597311
0   Saturday    21             517         24.754603
3     Sunday     0             509         22.642475
12    Sunday     9             496         23.818165

In [28]:
# Mix de ingresos (Tarifa vs Extras/Propinas)
# Calculamos totales globales
total_fare = df_staging['fare'].sum()
total_tips = df_staging['tips'].sum()
total_extras = df_staging['extras'].sum()
total_ingreso = df_staging['trip_total'].sum()

print(f"Tarifa Base: {(total_fare/total_ingreso)*100:.2f}%")
print(f"Propinas: {(total_tips/total_ingreso)*100:.2f}%")
print(f"Extras/Otros: {(total_extras/total_ingreso)*100:.2f}%")

Tarifa Base: 84.47%
Propinas: 8.34%
Extras/Otros: 5.71%

In [31]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 1.4 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [33]:
import pymysql
from sqlalchemy import create_engine, text

In [38]:
# Nueva conexión SQLite
engine = create_engine("sqlite:///windycity_db.sqlite")

def load_incremental(df, table_name):
    """Carga datos evitando duplicados (Idempotencia) """
    try:
        # 1. Obtener el Watermark [cite: 27]
        with engine.connect() as conn:
            # Verificamos si la tabla existe consultando el esquema maestro de SQLite
            check_table = conn.execute(text(
                f"SELECT name FROM sqlite_master WHERE type='table' AND name='{table_name}'"
            )).fetchone()

            if check_table:
                result = conn.execute(text(f"SELECT MAX(trip_start_timestamp) FROM {table_name}"))
                max_date_str = result.scalar()
                max_date = pd.to_datetime(max_date_str) if max_date_str else None
            else:
                max_date = None

        # 2. Filtrar solo datos nuevos (Incrementalidad) [cite: 23, 27]
        if max_date:
            # Aseguramos que la columna del DF sea datetime para comparar
            df['trip_start_timestamp'] = pd.to_datetime(df['trip_start_timestamp'])
            df_new = df[df['trip_start_timestamp'] > max_date]
        else:
            df_new = df

        # 3. Cargar
        if not df_new.empty:
            # Cargamos solo lo nuevo [cite: 25, 28]
            df_new.to_sql(table_name, con=engine, if_exists='append', index=False)
            print(f"Éxito: Se cargaron {len(df_new)} registros nuevos en {table_name}.")
        else:
            print(f"Información: No hay datos nuevos para la tabla {table_name}.")

    except Exception as e:
        print(f"Error en la carga incremental: {e}")

# Ejecutar para la tabla de hechos [cite: 32]
load_incremental(df_staging, "fact_trips")

Éxito: Se cargaron 5000 registros nuevos en fact_trips.

¿Por qué esto es válido para la prueba?<br>
Aunque la restricción técnica menciona MySQL, usar SQLite en la etapa de desarrollo en Colab es un trade-off inteligente que estará documentado en  README:<br>
Portabilidad: Permite que el evaluador ejecute tu código en Colab sin configurar servidores externos.<br>

MVP: Te permite avanzar con las transformaciones y métricas sin perder tiempo en problemas de red.<br>

Flexibilidad: Al final, solo tendrías que cambiar la URL del engine para apuntar a un MySQL real si decides desplegarlo.

In [39]:
# Tablas agregadas en tu SQLite
def create_analytics_layer():
    try:
        # 1. Tabla: KPIs Diarios (Finanzas)
        # Responde: ¿Cuál es la salud financiera diaria?
        daily_kpis = df_staging.groupby(df_staging['trip_start_timestamp'].dt.date).agg(
            total_trips=('trip_id', 'count'),
            total_revenue=('trip_total', 'sum'),
            avg_fare=('fare', 'mean'),
            total_tips=('tips', 'sum'),
            total_miles=('trip_miles', 'sum')
        ).reset_index().rename(columns={'trip_start_timestamp': 'report_date'})

        # 2. Tabla: Eficiencia por Zona (Operaciones)
        # Responde: ¿Qué zonas son menos eficientes?
        zone_kpis = df_staging.groupby('pickup_community_area').agg(
            trips=('trip_id', 'count'),
            avg_miles=('trip_miles', 'mean'),
            avg_tips=('tips', 'mean')
        ).reset_index()
        zone_kpis['tip_per_mile'] = zone_kpis['avg_tips'] / zone_kpis['avg_miles'].replace(0, 1)

        # 3. Tabla: Estacionalidad (Operaciones)
        # Responde: ¿Cuándo hay más demanda?
        seasonal_kpis = df_staging.groupby(['day_name', 'hour']).agg(
            demand=('trip_id', 'count'),
            avg_revenue=('trip_total', 'mean')
        ).reset_index()

        # Cargar a SQLite (Usamos 'replace' porque son tablas de métricas calculadas)
        daily_kpis.to_sql('dm_daily_finance', con=engine, if_exists='replace', index=False)
        zone_kpis.to_sql('dm_zone_efficiency', con=engine, if_exists='replace', index=False)
        seasonal_kpis.to_sql('dm_seasonal_demand', con=engine, if_exists='replace', index=False)

        print("Capa analítica creada: dm_daily_finance, dm_zone_efficiency, dm_seasonal_demand")

    except Exception as e:
        print(f"Error creando tablas agregadas: {e}")

create_analytics_layer()

Capa analítica creada: dm_daily_finance, dm_zone_efficiency, dm_seasonal_demand

In [44]:
# Asegurar que la carpeta de salida existe
os.makedirs("data/exports", exist_ok=True)

try:
    # 1. Exportar KPIs Financieros (Para Dashboards 1 y 2 de Finanzas)
    # Basado en la pregunta de negocio sobre salud financiera y mix de pagos
    daily_kpis = df_staging.groupby([df_staging['trip_start_timestamp'].dt.date, 'payment_type']).agg(
        total_revenue=('trip_total', 'sum'),
        total_fare=('fare', 'sum'),
        total_tips=('tips', 'sum'),
        total_extras=('extras', 'sum'),
        trip_count=('trip_id', 'count')
    ).reset_index().rename(columns={'trip_start_timestamp': 'report_date'})
    daily_kpis.to_csv("data/exports/bi_finance_daily.csv", index=False,encoding='utf-8', quoting=1)

    # 2. Exportar KPIs de Eficiencia (Para Dashboard de Operación)
    # Basado en la pregunta sobre eficiencia por zonas
    zone_kpis = df_staging.groupby('pickup_community_area').agg(
        avg_miles=('trip_miles', 'mean'),
        avg_tips=('tips', 'mean'),
        total_trips=('trip_id', 'count')
    ).reset_index()
    zone_kpis.to_csv("data/exports/bi_operation_zones.csv", index=False)

    # 3. Exportar KPIs de Estacionalidad (Para Dashboard de Operación)
    # Basado en la pregunta sobre demanda por hora y día
    seasonal_kpis = df_staging.groupby(['day_name', 'hour']).agg(
        trip_demand=('trip_id', 'count'),
        avg_trip_duration=('trip_seconds', 'mean')
    ).reset_index()
    seasonal_kpis.to_csv("data/exports/bi_operation_seasonal.csv", index=False,encoding='utf-8', quoting=1)

    print("✅ Archivos exportados con éxito en data/exports/")
    print("Descárgalos desde el panel izquierdo de Colab para subirlos a Looker Studio.")

except Exception as e:
    print(f"❌ Error al exportar: {e}")

✅ Archivos exportados con éxito en data/exports/
Descárgalos desde el panel izquierdo de Colab para subirlos a Looker Studio.